<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <div class="container">
        <%- include('../partials/header') %>
        <main>
            <%- include('../partials/search__bar') %>
            <section class="product__detail">
                <h2 class="section__title">
                    Nuestros productos
                </h2>
                <article class="product__article">
                    <h3>Producto</h3>
                    <div class="productimg__div">
                        <img src="img/promo1.jpg" alt="destino">
                    </div>
                    <div class="product__desc">
                        <p>Lorem ipsum dolor sit amet lias, numquam sunt velit explicabo quos accusamus facilis
                            blanditiis dolor dolore, provident id nam. Quae, debitis.</p>
                        <h4>$ XXXXX por persona</h4>
                        <div class="cart__semitotal">
                            <i class="fas fa-user"></i>
                            <select name="personas">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <h4>Total $ XXXXX</h4>
                            <button>A単adir al Carrito</button>
                        </div>
                    </div>
                </article>
                <article class="product__article">
                    <h3>Producto</h3>
                    <div class="productimg__div">
                        <img src="img/promo1.jpg" alt="destino">
                    </div>
                    <div class="product__desc">
                        <p>Lorem ipsum dolor sit amet lias, numquam sunt velit explicabo quos accusamus facilis
                            blanditiis dolor dolore, provident id nam. Quae, debitis.</p>
                        <h4>$ XXXXX por persona</h4>
                        <div class="cart__semitotal">
                            <i class="fas fa-user"></i>
                            <select name="personas">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <h4>Total $ XXXXX</h4>
                            <button>A単adir al Carrito</button>
                        </div>
                    </div>
                </article>
                <article class="product__article">
                    <h3>Producto</h3>
                    <div class="productimg__div">
                        <img src="img/promo1.jpg" alt="destino">
                    </div>
                    <div class="product__desc">
                        <p>Lorem ipsum dolor sit amet lias, numquam sunt velit explicabo quos accusamus facilis
                            blanditiis dolor dolore, provident id nam. Quae, debitis.</p>
                        <h4>$ XXXXX por persona</h4>
                        <div class="cart__semitotal">
                            <i class="fas fa-user"></i>
                            <select name="personas">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <h4>Total $ XXXXX</h4>
                            <button>A単adir al Carrito</button>
                        </div>
                    </div>
                </article>
                <article class="product__article">
                    <h3>Producto</h3>
                    <div class="productimg__div">
                        <img src="img/promo1.jpg" alt="destino">
                    </div>
                    <div class="product__desc">
                        <p>Lorem ipsum dolor sit amet lias, numquam sunt velit explicabo quos accusamus facilis
                            blanditiis dolor dolore, provident id nam. Quae, debitis.</p>
                        <h4>$ XXXXX por persona</h4>
                        <div class="cart__semitotal">
                            <i class="fas fa-user"></i>
                            <select name="personas">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <h4>Total $ XXXXX</h4>
                            <button>A単adir al Carrito</button>
                        </div>
                    </div>
                </article>

            </section>
        </main>
        <%- include('../partials/footer') %>
    </div>
</body>

</html>