<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <div class="container">
        <%- include('../partials/header') %>
        <main>
            <%- include('../partials/search__bar') %>
            <h2 class="section__title">
                Nuestros productos
            </h2>
            <section class="product__detail">
                <article class="product__article">
                    <h3>Producto</h3>
                    <div class="productimg__div">
                        <img src="img/promo1.jpg" alt="destino">
                    </div>
                    <div class="product__desc">
                        <p>Lorem ipsum dolor sit amet lias, numquam sunt velit explicabo quos accusamus facilis
                            blanditiis dolor dolore, provident id nam. Quae, debitis.</p>
                        <h4>$ XXXXX por persona</h4>
                        <div class="cart__semitotal">
                            <a href="/products/detail"><button>Ver m치s</button></a>
                        </div>
                    </div>
                </article>
                <article class="product__article">
                    <h3>Producto</h3>
                    <div class="productimg__div">
                        <img src="img/promo1.jpg" alt="destino">
                    </div>
                    <div class="product__desc">
                        <p>Lorem ipsum dolor sit amet lias, numquam sunt velit explicabo quos accusamus facilis
                            blanditiis dolor dolore, provident id nam. Quae, debitis.</p>
                        <h4>$ XXXXX por persona</h4>
                        <div class="cart__semitotal">
                            <a href="/products/detail"><button>Ver m치s</button></a>
                        </div>
                    </div>
                </article>
                <article class="product__article">
                    <h3>Producto</h3>
                    <div class="productimg__div">
                        <img src="img/promo1.jpg" alt="destino">
                    </div>
                    <div class="product__desc">
                        <p>Lorem ipsum dolor sit amet lias, numquam sunt velit explicabo quos accusamus facilis
                            blanditiis dolor dolore, provident id nam. Quae, debitis.</p>
                        <h4>$ XXXXX por persona</h4>
                        <div class="cart__semitotal">
                            <a href="/products/detail"><button>Ver m치s</button></a>
                        </div>
                    </div>
                </article>
                <article class="product__article">
                    <h3>Producto</h3>
                    <div class="productimg__div">
                        <img src="img/promo1.jpg" alt="destino">
                    </div>
                    <div class="product__desc">
                        <p>Lorem ipsum dolor sit amet lias, numquam sunt velit explicabo quos accusamus facilis
                            blanditiis dolor dolore, provident id nam. Quae, debitis.</p>
                        <h4>$ XXXXX por persona</h4>
                        <div class="cart__semitotal">
                            <a href="/products/detail"><button>Ver m치s</button></a>
                        </div>
                    </div>
                </article>

            </section>
        </main>
        <%- include('../partials/footer') %>
    </div>
</body>

</html>