#darkmode__form {
	display: flex;
	justify-content: center;
	align-items: center;
}

:root {
	--dur: 0.3s;
}

#darkmode__form {
	background: transparent;
}

.toggle:before {
    background: #ffd32a;
}
.toggle:after {
    background: #f7f1e3;
}

.dark-mode .toggle:before {
	background-color: #ffd32a;
}

.dark-mode .toggle:after {
	background: #f7f1e3;
}

#darkmode__form, .toggle {
	position: relative;
}



.curtain, .sr, .toggle:before, .toggle:after {
	position: absolute;
}
.curtain, .toggle:before, .toggle:after {
	transition: transform var(--dur);
}

.curtain, .toggle:before, .toggle:checked:after  {
	transition-timing-function: ease-out;
}

.curtain, .sr {
	top: 0;
	left: 0;
}
.curtain {
	background: transparent;
	mix-blend-mode: difference;
	pointer-events: none;
	width: 100%;
	height: 100%;
	transform: scaleX(0);
	transform-origin: 0 50%;
}
.sr, .toggle {
	overflow: hidden;
}
.sr {
	clip: rect(1px,1px,1px,1px);
	color: transparent;
	width: 1px;
	height: 1px;
}
.toggle {
	background-color: #130f40;
	border-radius: 0.75em;
	cursor: pointer;
	width: 3em;
	height: 1.5em;
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
}

.dark-mode .toggle{
	background-color: #ffd32a;
	background: #347fc4;
}
.toggle:before, .toggle:after {
	border-radius: 50%;
	content: "";
	display: block;
	top: 0.25em;
	left: 0.25em;
	width: 1em;
	height: 1em;
}
.toggle:before, .toggle:checked:after {
	transition-delay: 0s;
}
.toggle:checked:before, .toggle:after {
	transition-delay: calc(var(--dur) * 0.75);
	transition-timing-function: cubic-bezier(0.3,1.6,0.5,0.7);
}
.toggle:before {
	transform: translateX(-1.5em);
}
.toggle:checked:before {
	transform: translateX(1.5em);
}
.toggle:checked:after {
	transform: translateX(3em);
}
.toggle:checked ~ .curtain {
	transform: scaleX(1);
}
.toggle:focus {
	outline: transparent;
}

.dark-mode:root {
    --dt-sectioncontainer1: #303950;
    --dt-sectioncontainer2: #1a2031;
    --dt-sectioncontainer3: #23103a;
    --dt-decoration2: #070739;
    --dt-decoration3: #5d8791;
	--dt-blacktext: #edf2f3;
    --dt-white:rgb(15, 15, 15);
    --dt-black: white;
    --dt-grey: rgb(197, 197, 197);
    --dt-placeholders: rgb(255, 255, 255);
    --dt-borders: #1b214e;
    --dt-background:#111113;
	--dt-input: rgb(92, 92, 92);
	--dt-pricebackground: #54123b;
}