@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap');

* {
    font-family: 'Syne', 'sans-serif';
    box-sizing: border-box;
}

body {
    background-color: #f7f1e3;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: #24252a;
    width: 85%;
    padding-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    padding-bottom: 2vh;
}

.header__logo {
    width: 23%;
    padding-left: 1%;
}

.header__logo img {
    width: 100%;
    margin-left: 8%;
    margin-top: 2%;
}

#slogan {
    padding-left: 6.5%;
    font-size: 1.1em;
    color: #f7f1e3;
}

.header__nav {
    display: flex;
    width: 77%;
    flex-wrap: wrap;
}

.nav__cta {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    
}

.cta__items {
    margin: 0% 4.2%;
    display: flex;
    width: 45%;
    justify-content: space-around;
}

.cta__items a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 2% 3%;
    font-size: 110%;
    color: #f7f1e3;
    background-color: #3E92CC;
    border: none;
    border-radius: 15px;
    transition: 0.4s;
}

.cta__items a:hover{
    background-color: #3e91cca6;
}

.nav__items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
}

.nav__items a {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 110%;
    text-decoration: none;
    width: 20%;
    margin: 1% 5%;
    height: 3.5vh;
    transition: 0.4s;
    color: #f7f1e3;
    padding: 0px 2px;
}

.nav__items a:hover{
    color: #347fc4;
    letter-spacing: 1px;
}

.div__form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.paquetes__form1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25%;
    flex-wrap: wrap;
    height: 100%;
    
}

.form__item1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1vh 0%;
    text-align: center;
    margin: 0px 3%;
    border: none;
    border-radius: 3px;
    font-size: 0.8em;
    background-color: #f7f1e3;
    color: #392f5a;
}

::placeholder {
    color: #392f5a;
}

.form__item1 option {
    background-color: #f7f1e3;
}
.form__item1:nth-child(2) {
    padding: 2% 0%;
    width: 50%;
}

.paquetes__form2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 16%;
    flex-wrap: wrap;
    height: 100%;
    margin-left: -9%;
}
.form__item2 {
    width: 96%;
    height: 4vh;
    border: none;
    border-radius: 3px;
    background-color: #f7f1e3;
    color: #392f5a;
}

.form__text1 {
    padding-top: 0.5vh;
    display: block;
    flex-wrap: wrap;
    color: #f7f1e3;
    width: 20%;
    margin-top: 1vh;
}

.form__text2 {
    padding-top: 0.5vh;
    display: block;
    flex-wrap: wrap;
    color: #f7f1e3;
    width: 20%;
    margin: 1vh 0vh;
}
.form__text1 p{
    text-align: center;
    display: block;
    width: 100%;
}

.form__text2 p{
    text-align: center;
    display: block;
    width: 50%;
}

.div__form p::first-letter {
    text-transform: capitalize;
}

.div__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
    margin-left: 2%;
}

.search__button {
    text-transform: uppercase;
    padding: 1vh 1%;
    font-size: 110%;
    width: 100%;
    background-color: #347fc4;
    color: #f7f1e3;
    transition: 0.4s;
    border: none;
    border-radius: 5px;
}

.search__button:hover {
    background-color: #3e91cca6;
}
