@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap');

* {
    font-family: 'Syne', 'sans-serif';
    box-sizing: border-box;
    outline:none;
}   

body {
    background-color: #f7f1e3;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
}
/*                                              HEADER                                                 */   

header {
    display: flex;
    background-color: #24252a;
    width: 85%;
    padding-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    padding-bottom: 3vh;
}

/* LOGO */

.header__logo {
    width: 23%;
    padding-left: 1%;
}

.header__logo img {
    width: 100%;
    margin-left: 8%;
    margin-top: 2%;
}

#slogan {
    padding-left: 6.5%;
    font-size: 1.1em;
    color: #f7f1e3;
}

/* NAVIGATION BAR */

.header__nav {
    display: flex;
    width: 77%;
    flex-wrap: wrap;
}

.nav__cta {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    padding-top: 3vh;
    margin-bottom: 4vh;
}

.cta__items {
    margin: 0% 4.2%;
    display: flex;
    width: 45%;
    justify-content: space-around;
}

.cta__items a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 2% 3%;
    font-size: 110%;
    color: #f7f1e3;
    background-color: #3E92CC;
    border: none;
    border-radius: 15px;
    transition: 0.4s;
}

.cta__items a:hover{
    background-color: #3e91cca6;
}

.cta__items a:active {
    transition: 0.1;
    background-color: #3e91cc00;
}

.nav__items {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 30%;
    align-items: center;
}

.nav__items a {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 110%;
    text-decoration: none;
    width: 20%;
    margin: 1% 5%;
    height: 3.5vh;
    transition: 0.4s;
    color: #f7f1e3;
    padding: 0px 2px;
}

.nav__items a:hover{
    color: #347fc4;
    transform: scale(1.12);
}


/*                                          MAIN                                                    */

main {
    display: flex;
    background-color: #f7f1e3;
    margin-top: 3vh;
    flex-wrap: wrap;
    justify-content: center;
}

/* FORM */

.div__form {
    background-color:  #24252a;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 70%;
    padding: 3vh 0vh;
    
}

.paquetes__form1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25%;
    flex-wrap: wrap;
    height: 100%;
}

.form__item1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1vh 0%;
    text-align: center;
    margin: 0px 3%;
    border: none;
    border-radius: 3px;
    font-size: 0.8em;
    background-color: #f7f1e3;
    color: #392f5a;
    
}

.form__item1:nth-child(2) {
    padding: 2% 0%;
    width: 50%;
}

::placeholder {
    color: #392f5a;
}

.paquetes__form2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 16%;
    flex-wrap: wrap;
    height: 100%;
    margin-left: -9%;
}

.form__item2 {
    width: 96%;
    height: 4vh;
    border: none;
    border-radius: 3px;
    background-color: #f7f1e3;
    color: #392f5a;
}

.form__text1 {
    padding-top: 0.5vh;
    display: block;
    flex-wrap: wrap;
    color: #f7f1e3;
    width: 20%;
    margin-top: 1vh;
    font-size: 17px;
}

.form__text2 {
    padding-top: 0.5vh;
    display: block;
    flex-wrap: wrap;
    color: #f7f1e3;
    width: 20%;
    margin: 1vh 0vh;
    font-size: 17px;
}
.form__text1 p{
    text-align: center;
    display: block;
    width: 100%;
}

.form__text2 p{
    text-align: center;
    display: block;
    width: 50%;
}

.div__form p::first-letter {
    text-transform: capitalize;
}

.div__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
    margin-left: 2%;
}

.search__button {
    text-transform: uppercase;
    padding: 1vh 1%;
    font-size: 110%;
    width: 100%;
    background-color: #347fc4;
    color: #f7f1e3;
    transition: 0.3s;
    border: none;
    border-radius: 5px;
    outline:none;
}

.search__button:hover {
    background-color: #3e91cca6;
}

.search__button:active {
    transition: 0.1;
    background-color: #3e91cc00;
}

.fa-search {
    color: #f7f1e3;
}

/* SLIDER PROMOCION */

.div__promocion {
    display: flex;
    width: 85%;
    margin-top: 3vh;
    padding-bottom: 1vh;
    background-color: #24252a;
}

.promocion__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 66%;
    height: 65vh;
    margin: 3vh auto;
    position: relative;
    list-style: none;
    padding: 0;
    align-items: flex-end;
}

.promocion__ul img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.8s;
    border: 10px solid #f7f1e3;
}

.promocion__ul input {
    display: none;
}

.promocion__ul input:checked ~ img {
    opacity: 1;
}

.promocion__ul input + label {
    position: relative;
    z-index: 1;
    margin: 3vh 20px;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #f7f1e3;
    border-radius: 50%;
    border: 3px solid #24252a;
    cursor: pointer;
}

.promocion__ul input:checked + label{
    background-color:#3E92CC;
}

/* FINANCIACIÓN */

.div__financiacion {
    display: flex;
    width: 85%;
    background-color: #f7f1e3;
    justify-content: center;
    color: #24252a;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -3vh;
}

.div__financiacion strong {
    display: flex;
    background-color: #f7f1e3;
    justify-content: center;
    color: #24252a;
    height: 4vh;
    flex-wrap: wrap;
    text-transform: uppercase;
}


.financiacion__ul {
    margin-top: 6vh;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    list-style: none;
    align-items: flex-start;
    padding: 0vh 0vh;
    align-items: center;
    background-color: #24252a;
}

.financiacion__ul li {
    display: flex;
    width: 100%;
    margin: 3vh 2%;
    background-color: #f7f1e3;
    border-radius: 3px;
    transition: 0.4s;
}
.financiacion__ul img {
    padding: 4vh 5%;
    width:  100%;
    height: 30vh;
    object-fit: contain;
}

.financiacion__ul li:hover {
    transform: scale(1.04);
}

/*                                             FOOTER                                                 */

footer {
    display: flex;
    width: 85%;
    justify-content: flex-start;
    background-color: #24252a;
    flex-wrap: wrap;
}

/* NEWSLETTER */

.newsletter__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: #f7f1e3;
    justify-content: center;
}

.newsletter__container strong {
    width: 100%;
    height: 10vh;
    background-color: #f7f1e3;
    text-align: center;
    text-transform: uppercase;
    color: #24252a;
}

.newsletter__form {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 3vh;
}

.newsletter__input {
    text-align: center;
    width: 40%;
    padding: 1vh 2%;
    border: 1px solid #c2eabd;
    border-radius: 5px;
    transition: 0.4s;
    height: 6vh;
}

.newsletter__input:focus {
    border: 1px solid #347fc4;
}

.newsletter__button {
    text-align: center;
    margin-left: -25%;
    text-transform: uppercase;
    padding: 1vh 1%;
    font-size: 110%;
    background-color: #347fc4;
    color: #f7f1e3;
    transition: 0.3s;
    border: none;
    border-radius: 5px;
    outline:none;
}


.newsletter__button:hover{
    background-color: #3e91cca6;
}

/* REDES SOCIALES */


.social__icons {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 10vh;
    align-items: center;
}

.social__icons a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0% 3%;
    text-decoration: none;
}

.social__icons .fab {
    font-size: 1.5rem;
    color: #f7f1e3;
    padding: 3px 0px;
    border-radius: 5px;
    transition: 0.5s;
    text-decoration: none;
}

.fab:hover {
    color: #f7f1e36b;
}