@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap');

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*******************************************************************************************/
/*************************************MOBILE FIRST******************************************/
/*******************************************************************************************/

/*******************************************************************************************/
/*****************************************INDEX*********************************************/
/*******************************************************************************************/

*{
    font-family: 'Helvetica', sans-serif;
    transition: 0.5s;
}

:root {
    --dt-sectioncontainer1: #113f67;
    --dt-sectioncontainer2: #00818a;
    --dt-sectioncontainer3: #132238;
    --dt-decoration1: #226597;
    --dt-decoration2: #87c0cd;
    --dt-decoration3: #130f40;
    --dt-blacktext: #17181b;
    --dt-whitetext: #edf2f3;
    --dt-white: white;
    --dt-black: black;
    --dt-grey: rgb(197, 197, 197);
    --dt-placeholders: gray;
    --dt-borders: #9fd3c7;
    --dt-backgroundwhite: #edf2f3;
    --dt-background: #edf2f3;
    --dt-input: rgb(92, 92, 92);
    --dt-sectiontitle: #17181b;
    --dt-pricebackground: #ffff73;
}
body{
    margin: 0;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    background-color: var(--dt-background);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--dt-background);
}

/*****************************************HEADER********************************************/

header{
    background-color: var(--dt-sectioncontainer1);
}
.navbar{
    height: 52px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
}

/*LOGO*/

.header__logo{
    display: flex;
    padding: 10px;
    justify-content: start;
    width: 50%;
}
#logo-title {
    height: 32px;
}

/*CTA ICONO-MOBILE*/

.navicon{
    height: 32px;
    width: 44px;
    display: block;
}
.menuicon {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#accounticon {
    display: inline-flex;
    font-size: 22px;
    align-items: center;
    margin-left: 10px;
    margin-right: 5px;
    position: relative;
    top: -0.5px;
    text-decoration: none;
    cursor: pointer;
    color: var(--dt-whitetext);
}
.change#accounticon {
    color: var(--dt-decoration3);
}
#navcart {
    display: inline-flex;
    font-size: 22px;
    align-items: center;
    margin-left: 10px;
    margin-right: 5px;
    position: relative;
    top: -0.5px;
    text-decoration: none;
    color: var(--dt-whitetext);
}

/* NAVIGATION BAR */

#categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    color: var(--dt-whitetext);
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
}
.change.category {
    color: var(--dt-decoration3);
    border-bottom: 3px solid;
}
.category i {
    font-size: 30px;
    padding: 10px;
}
.category h3 {
    font-size: 12px;
    margin: 0;
}
#nav-menu-mobile {
    display: none;
    background-color: var(--dt-background);
    flex-direction: column; 
}
.nav-header-user-menu {
    padding: 19px 24px;
    border-bottom: 1.5px solid var(--dt-borders);
}
.nav-header-mobile-user-info {
    display: flex;
    margin-bottom: 10px;
}
.nav-user-icon {
    background-color: var(--dt-grey);
    color: rgba(83, 83, 83, 0.288);
    border-radius: 28px;
    font-size: 35px;
    display: inline-flex;
    height: 56px;
    flex: 0 0 56px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.nav-mobile-user-welcome {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: start;
}
.nav-mobile-user-title {
    font-size: 16px;
    margin: 0px;
    font-weight: 600;
    color: #333;
}
.nav-mobile-user-text {
    font-size: 14px;
    margin: 0px;
    color: rgba(0,0,0,.50);
}
.nav-mobile-user-buttons {
    display: flex;
    font-size: 14px;
}
.nav-mobile-button-filled {
    background-color: var(--dt-decoration1);
    color: var(--dt-white);
    flex: 1 1 50%;
    padding: 12px 0;
    margin: 4px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
}
.nav-mobile-button-outlined {
    background-color: var(--dt-white);
    color: var(--dt-decoration1);
    border: 1px solid var(--dt-decoration1);
    flex: 1 1 50%;
    padding: 12px 0;
    margin: 4px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
}
.nav-menu-section {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    border-bottom: 1px solid var(--dt-borders);
}
.nav-menu-section a {
    padding: 8px 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: var(--dt-black);
    text-decoration: none;
}
.nav-menu-section i {
    margin-right: 20px;
}

/*****************************************MAIN********************************************/
main {
    background-color: var(--dt-white);
}

/* BARRA DE BUSQUEDA */

.search__bar {
    background-color: var(--dt-sectioncontainer2);
    color: var(--dt-whitetext);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--dt-borders);
}

.hide.nav-search {
    display: none;
}
.search__title {
    color: var(--dt-whitetext);
    padding: 10px;
    margin: 0px;
}
.form__input {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.form__input div {
    display: flex;
    flex-direction: column;
}
.search__form input, .search__form select {
    margin-top: 5px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    background-color: var(--dt-backgroundwhite);
    color: var(--dt-input);
}
.search__form label {
    margin-top: 10px;
    color: var(--dt-blacktext);
}
.search__form select {
    margin-top: 5px;
}
.search__form__traslados input, .search__form__traslados select {
    margin-top: 5px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    background-color: var(--dt-whitetext);
    color: var(--dt-placeholders);
}
.search__form__traslados label {
    margin-top: 10px;
    color: var(--dt-whitetext);
}
.search__form__traslados select {
    margin-top: 5px;
}

.form__dates {
    display: flex;
    justify-content: space-between;
}
.form__dates div {
    display: flex;
    flex-direction: column;
}
.form__dates input {
    width: 40vw;
}
.search__button {
    text-transform: uppercase;
    padding: 5px;
    font-size: 18px;
    width: 100%;
    background-color: var(--dt-sectioncontainer1);
    color: var(--dt-whitetext);
    border-radius: 5px;
    margin-top: 20px;
}
.form__input__traslado {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.form__input__traslado div {
    display: flex;
    flex-direction: column;
}
.form__dates__traslado {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form__dates__traslado div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 42.5%;
}
.form__dates__traslado div:nth-child(3){
    width: 100%;
}

/*PROMOCIONES*/

.section__title {
    color: var(--dt-blacktext);
    padding: 10px;
    margin: 0px;
    text-align: center;
}

.flexslider{
	width: 100%;

	display: flex;
	flex-direction: column;

    position: relative;
    background-color: var(--dt-sectioncontainer1);
}

.slides,
.slides li,
.slides li img{
    width: 100%;
    padding: 0;
    margin: 0;
}

.slides li{
	margin-bottom: -5px;
}

.flex-control-nav.flex-control-paging{
	width: 120px;
	padding: 30px 0px;
	border-radius: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;

	list-style: none;

	position: absolute;
	bottom: 0px;
	z-index: 3;
}

.flex-control-nav li{
	display: inline-block;
	margin: 0 5px;
}

.flex-control-nav li a{
	display: block;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 50%;
	text-indent: -9999px;
	box-shadow: inset 0px -3px 2px 0px rgba(0,0,0,0.55);
	margin: 0 5px;
}

.flex-control-nav li a.flex-active{
	background: #353535;
}

/* NAVEGACION ===============*/
.flex-direction-nav{
	z-index: 3;
	list-style: none;
}

.flex-direction-nav a{
	width: 60px;
	height: 60px;

	border-radius: 5px;

	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;
	opacity: 0;

	position: absolute;
	top: 50%;
	margin-top: -30px;

	transition: all 0.3s ease-in-out;
}

.flex-direction-nav a::before{
	content: "\f104";
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 50px;
    color: #fff;
}

.flex-direction-nav a.flex-next::before{
	content: "\f105";
}

.flex-direction-nav .flex-prev{
	left: 0px;
}

.flex-direction-nav .flex-next{
	right: 0px;
}

.flexslider:hover .flex-direction-nav .flex-prev{
	opacity: 1;
	left: 40px;
}

.flexslider:hover .flex-direction-nav .flex-next{
	opacity: 1;
	right: 40px;
}

/* CAPTION ==================*/
.caption{
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	position: absolute;
	top: 0;
    z-index: 2;
}

.caption h2{
	font-size: 60px;
	color: #fff;
	text-shadow: 3px 3px 2px rgba(000, 000, 000, 0.70);
}

/*FINANCIACIÓN*/

.section__title:nth-child(3){
    display: none;
}
.payment {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}
.payment a {
    display: flex;
    width: 20vw;
    align-items: center;
    justify-content: center;
}
.payment a img {
    width: 100%;
}
.financiacion__title {
    text-align: center;
}

/***************************************FOOTER********************************************/


footer article {
    border-bottom: 1px solid var(--dt-borders);
    text-align: center;
    padding: 20px;
    background-color: var(--dt-white);
}

.social__icons {
    background-color: var(--dt-background);
}
footer article h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    margin: 16px 0 0;
}
footer a {
    margin-top: 4px;
    margin-bottom: 4px;
    color: var(--dt-decoration1);
    font-size: 14px;
    text-decoration: none;
}
.newsletter__container h2 {
    width: 100%;
    color:var(--dt-blacktext);
    padding: 0vh 0vw;
    border: none;
    font-weight: lighter;
}
.newsletter__input {
    border: 1px solid var(--dt-borders);
    border-radius: 5px;
    width: 75%;
    padding: 1vh 0;
}
.newsletter__input:focus {
    border: 1px solid var(--dt-decoration1);
}
.newsletter__button {
    text-align: center;
    text-transform: uppercase;
    padding: 1vh;
    background-color: var(--dt-sectioncontainer2);
    color: var(--dt-whitetext);
    border-radius: 5px;
}
.social__icons i {
    font-size: 49px;
    margin: 0px 10px;
}
.copyright {
    padding: 22px 10%;
}
.copyright p {
    font-size: 12px;
    color: #999;
}

/*******************************************************************************************/
/*****************************************PRODUCTS******************************************/
/*******************************************************************************************/


/****************************************MAIN***********************************************/

.product__detail h2 {
    color: var(--dt-blacktext);
    width: 100%;
    text-align: center;
}
.product__detail {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.product__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dt-sectioncontainer2);
    border-radius: 10px;
    margin: 5px 0;
    margin: 1vh 0;
    border: 1px solid var(--dt-borders);
}

.product__article h3 {
    margin: 5px;
    color: var(--dt-whitetext);
}
.product__article p {
    text-align: center;
    margin: 5px;
    color: var(--dt-blacktext);
}
.product__desc{
color: var(--dt-blacktext);
text-align: center;
}

.productimg__div {
    margin: 5px;
}
.productimg__div img {
    width: 100%;
    border: 2px solid var(--dt-borders);
    box-sizing: border-box;
}
.article__price {
    display: flex;
    justify-content: space-between;
    border-top: 3px solid var(--dt-borders);
    width: 100%;
}
.product__article button {
    text-transform: uppercase;
    font-size: 18px;
    width: 100%;
    padding: 0.5vh 5px;
    background-color: var(--dt-decoration2);
    color: var(--dt-blacktext);
    border-radius: 5px;
}

.cart__semitotal a {
    width: 50%;
}

.product__detail a {
    text-decoration: none;
}

.createProduct__button {
    text-transform: uppercase;
    font-size: 18px;
    width: 100%;
    padding: 0.5vh 5px;
    background-color: var(--dt-decoration2);
    color: var(--dt-blacktext);
    border-radius: 5px;
}

/*******************************************************************************************/
/**************************************PRODUCT DETAIL***************************************/
/*******************************************************************************************/

.productdetail__article {
    display: flex;
    flex-direction: column;
    padding: 3vh 3%;
    background-color: var(--dt-sectioncontainer2);
    text-align: center;
    border-radius: 10px;
    margin: 2vh 2%;
}

.productdetail__article ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.productdetail__article .cart__semitotal{
    padding-bottom: 0;
}

.detail__img {
    display: flex;
    border: 5px solid var(--dt-background);
}

.detail__img img{
    width: 100%;
}

.productdetail__desc p {
    color: var(--dt-blacktext);
}
.productdetail__desc ul {
    padding: 0;
}
.productdetail__desc ul li {
    margin: 1vh 0;
    color: var(--dt-blacktext);
}
.productdetail__desc h4 {
    color: var(--dt-blacktext);
}

.productdetail__desc button {
    text-transform: uppercase;
    font-size: 18px;
    width: 80%;
    padding: 0.5vh 5px;
    background-color: var(--dt-decoration2);
    color: var(--dt-blacktext);
    border-radius: 5px;
}

.productdetail__section a {
    display: none;
}

/*******************************************************************************************/
/************************************FORMULARIO DE REGISTRO*********************************/
/*******************************************************************************************/

/*******************************************MAIN********************************************/

.register__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 32px;
    color: rgba(0,0,0,.45);
    font-size: 18px;
}
.register__form input {
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 2px;
    outline: none;
    border-width: 0 0 2px;
    border-color: rgba(0,0,0,.2);
}
.register__form label {
    align-self: flex-start;
    position: relative;
    top: -36px;
    cursor: text;
}
.user-form-title {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    margin-top: 35px;
    color: var(--dt-blacktext);
}

.register__form div {
    width: 100%;
    margin-bottom: 10px;
    color: var(--dt-blacktext)
}
.register__form input {
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 2px;
    outline: none; 
    border-width: 0 0 2px;
    border-color: var(--dt-grey);
    background-color: transparent;
}
.register__form input[type="date"] {
    color: transparent;
    background: none;
    border-width: 0 0 2px;
}
.register__form input:focus {
    border-width: 0 0 2px;
    border-color: var(--dt-decoration1);
    color: var(--dt-black);
}
.register__form input:valid {
    color: var(--dt-black);
    outline: none;
}
.register__form input:invalid {
    outline: none;
}
.register__form input[type="date"]:not(:placeholder-shown):invalid {
    border-width: 0 0 2px;
    border-color: var(--dt-grey);
    outline: none;
}
.register__form input:not(:placeholder-shown):invalid {
    border-width: 0 0 2px;
    border-color: red;
    outline: none;
}
.register__form input:not(:placeholder-shown):invalid + label{
    top: -60px;
    font-size: 12px; 
}
.register__form input[type="date"]:not(:placeholder-shown):invalid + label{
    top: -36px;
    font-size: 18px; 
}
.register__form input[type="date"]:focus:not(:placeholder-shown):invalid + label{
    top: -60px;
    font-size: 12px; 
}
.register__form label {
    align-self: flex-start;
    position: relative;
    top: -36px;
    cursor: text;
    color: var(--dt-grey);
}
#fixlabel {
    top: 0px;
}
.radiobuttons input{
    width: 2%;
}
.radiobuttons {
    font-size: 14px;
}
.register__form input:focus +label {
    top: -60px;
    font-size: 12px; 
}
.register__form input:valid +label {
    top: -60px;
    font-size: 12px; 
}
.register__form textarea {
    width: 100%;
    height: 120px;
    resize: none;
    margin-bottom: 10px;
    border: 2px solid rgba(0,0,0,.2);
    box-shadow: none;
    outline: none;
}
.register__form textarea:focus {
    border-color: var(--dt-decoration1);
}
#textarea-label {
    top: 0px;
}
.submit-button {
    background-color: var(--dt-decoration1);
    color: var(--dt-white);
    width: 100%;
    flex: 0 0 100%;
    padding: 12px 0;
    margin: 4px;
    text-align: center;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    outline: none;
    opacity: 0.8;
}
.submit-button:hover, 
.submit-button:active{
    opacity: 1;
}
.register__form a {
    margin-top: 10px;
    margin-bottom: 4px;
    color: var(--dt-decoration1);
    font-size: 16px;
    text-decoration: none;    
}

.register__form select {
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 2px;
    outline: none; 
    border-width: 0 0 2px;
    border-color: rgba(0,0,0,.2);
    transition: 0.2s;
    box-shadow: none;
}
.register__form select +label {
    top: -60px;
    font-size: 12px;
}


#rememberme {
    width: auto;
}
#slogan {
    display: none;
}

.cta__items {
    display: none;
}

    /**************************************************************************************/
    /**********************************CARRITO DE COMPRAS**********************************/
    /**************************************************************************************/

    /****************************************MAIN******************************************/
    
    .productcart__main h2 {
        color: var(--dt-blacktext);
    }

    .product__cart {
        padding: 10px;
        display: flex;
        flex-direction: column;
        background-color: var(--dt-sectioncontainer2);
        margin: 10px;
        align-items: flex-end;
    }

    .product__cart article {
        display: flex;
        background-color: var(--dt-background);
        border-top: 1px solid var(--dt-borders);
        border-right: 1px solid var(--dt-borders);
        border-left: 1px solid var(--dt-borders);
        border-radius: 5px;
        padding: 10px;
    }
    
    .product__cart h3 {
        align-self: flex-end;
        text-transform: uppercase;
        margin-right: 3px;
        color: var(--dt-blacktext);
    }
    .cart__img {
        flex: 0 0 45%;
        border: 1px solid var(--dt-borders);
        box-sizing: border-box;
        align-self: center;
    }
    .cart__img img {
        width: 100%;
        display: flex;
    }
    .cart__desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;
    }
    .cart__desc h3 {
        margin: 0;
        font-size: 14px;
        text-align: center;
        border-bottom: 1px solid var(--dt-borders);
        align-self: center;
        width: 100%;
        margin-left: 5px;
    }
    .cart__desc p {
        margin: 0;
        font-size: 12px;
        padding-left: 5px;
    }
    .cart__desc h4{
        margin: 0;
        font-size: 13px;
        text-align: center;
        background-color: var(--dt-decoration2);
        color: var(--dt-blacktext);
        padding: 3px 0;
    }    
    .cart__semitotal {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-bottom: 3vh;
    }
    .cart__semitotal h4{
        text-align: center;
        background-color: var(--dt-pricebackground);
        text-transform: uppercase;
        align-self: center;
        padding: 0.5vh 3%;
        width: 100%;
        margin-top: 2vh;
    }
    .cart__semitotal i {
        align-self: center;
        font-size: 1.3em;
    }
    .cart__semitotal select {
        width: 40%;
        border-radius: 5px;
        padding: 0.5vh 0;
    }

/*****************************************************************************************/
/************************************PAGINA DE ERROR**************************************/
/*****************************************************************************************/

.error__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20vh;
}
.search-error {
    width:  80px;
    margin-left: auto;
    margin-right: auto;
    color: var(--dt-blacktext);
}
.error__page a {
    color: var(--dt-decoration1);
    font-size: 16px;
    text-decoration: none;
}

/*****************************************************************************************/
/**************************************MEDIA QUERIES**************************************/
/*****************************************************************************************/

/****************************************TABLET*******************************************/

@media (min-width: 768px) {
    * {
        box-sizing: border-box;
    }
    /**********************************PRODUCT DETAIL**************************************/
    .product__detail {
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
    .product__article {
        width: 50%;
    }
}
/******************************************************************************************/
/****************************************LAPTOP********************************************/
/******************************************************************************************/

@media (min-width: 1024px) {

    /*************************************INDEX********************************************/
    *{
        font-weight: lighter;
        font-family: 'Syne', sans-serif;
        box-sizing: border-box;
    }
    body {
        background-color: #f7f1e3;
        margin: 0;
        padding: 0;
    }
    .container {
        align-items: center;
    }

    /**************************************HEADER*******************************************/

    header {
        display: flex;
        width: 85%;
        height: 28vh;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-top: 1vh;
        border-left: 1px solid var(--dt-borders);
        border-right: 1px solid var(--dt-borders);
        border-bottom: 1px solid var(--dt-borders);
    }

    /*LOGO*/

    .header__logo {
        height: 127%;
        width: 20%;
        padding: 0px;
        margin-left: 3%;
    }
    .header__logo img {
        width: 100%;
    }
    
    #slogan {
        display: block;
        font-size: 1.14em;
        color: var(--dt-whitetext);
        padding-right: 3.9%;
        font-style: italic;
    }
    .navicon{
        height: 100%;
    }
    #logo-title {
        display: none;
    }

    /*CTA*/

    .nav__cta {
        display: flex;
        align-items: center;
        width: 74.5%;
    }
    .cta__items {
        margin: 0% 5.5% 0% 9%;
        display: flex;
        width: 40%;
        justify-content: flex-end;
        align-items: center;
    }

    .cta__items a {
        text-transform: uppercase;
        text-decoration: none;
        padding: 2% 3%;
        font-size: 110%;
        border-radius: 6px;

        margin: 0 1%;
    }
    .cta__items a:nth-child(1){
        color: var(--dt-background); 
        background-color: var(--dt-decoration3);
        border-bottom: 2px solid black;
    }
    .cta__items a:nth-child(1):hover{
        background-color: var(--dt-decoration1);
    }
    .cta__items a:nth-child(2){
        color: var(--dt-blacktext); 
        background-color: var(--dt-decoration2);
        border-bottom: 2px solid black;

    }
    .cta__items a:nth-child(2):hover{
        background-color: var(--dt-decoration1);
    }
    .cta__items a:nth-child(3){
        color: var(--dt-blacktext); 
        background-color: var(--dt-decoration2);
        border-bottom: 2px solid black;

    }
    .cta__items a:nth-child(3):hover{
        background-color: var(--dt-decoration1);
    }

    .cta__items a:nth-child(4){
        font-size: 1.4em;
        color: var(--dt-whitetext);
    }
    .cta__items a:nth-child(4){
        font-size: 1.4em;
        color: var(--dt-whitetext);
    }
    .navbar{
        display: flex;
        height: 20vh;
    }

    /*CATEGORIAS*/ 

    #categories {
        width: 77%;
        text-transform: uppercase;
    }

    #categories h3 {
        font-size: 1.1em;

        color: var(--dt-whitetext);
    }

    #categories h3:hover {
        transform: scale(1.05)
    }
    .nav__items a:hover{
        transform: scale(1.1);
    }

    .menuicon {
        display: none;
    }


    /*NONE DISPLAY*/

    .category i {
        display: none;
    }
    #nav-menu-mobile {
        display: none;
    }
    .nav-header-user-menu {
        display: none;
    }
    .nav-header-mobile-user-info {
        display: none;
    }
    .nav-user-icon {
        display: none;
    }
    .nav-mobile-user-welcome {
        display: none;
    }
    .nav-mobile-user-title {
        display: none;
    }
    .nav-mobile-user-text {
        display: none;
    }
    .nav-mobile-user-buttons {
        display: none;
    }
    .nav-mobile-button-filled {
        display: none;
    }
    .hide.nav-search {
        display: none;
    }

    /******************************************MAIN****************************************/

    main {
        display: flex;
        background-color: var(--dt-background);
        margin-top: 0vh;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 0vh;
        padding-bottom: 0vh;
        width: 85%;
    }

    /*FORMULARIO DE BUSQUEDA*/

    .search__bar {
        display: flex;
        margin: 0vh;
        flex-direction: column;
        border-radius: 0px;
        padding: 0px;
        width: 90%;
        border: none;
    }
    .section__title {
        text-align: center;
        text-transform: uppercase;
        background-color: var(--dt-background);
        color: var(--dt-blacktext);
        padding: 2vh;
        border-radius: 0px;
        width: 100%;
    }
    .search__form {
        display: flex;
        flex-direction: row;
        padding-top: 1vh;
        padding-bottom: 3vh;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border: 1px solid var(--dt-borders);
    }

    .search__form input,
    .search__form select{
        margin-top: 2vh;
        padding: 1vh 0vh;
        font-size: 0.8em;
        width: 16%;
        text-align: center;
        border: 1px solid var(--dt-borders)
    }
    
    .search__form input:focus{
        border: 1px solid var(--dt-decoration1);
    }

    input.form__dates__input {
       margin-left: 12.9%;
       width: 40%;
    }

    .section__title:nth-child(3){
        display: block;
        width: 100%;
    }
    .search__form select:nth-child(4){
        width: 10%;
    }
    .form__input {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .form__input div {
        display: flex;
        width: 50%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .form__dates div {
        width: 100%;
    }

    .form__input input {
        width: 50.5%;
    }

    .form__input__traslado {
        flex-direction: row;
    }
    .form__input__traslado div {
        width: 50%;
        justify-content: space-around;
        flex-direction: row;
    }

    .form__input__traslado input {
        width: 58%;
        margin-left: 7%;
    }
    .form__dates__traslado {
        width: 100%;
    }
    .form__dates__traslado div {
        width: 33%;
        justify-content: space-around;
        flex-direction: row;
        align-items: flex-start;
    }
    .form__dates__traslado div:nth-child(3){
        width: 33%;
    }
    .form__dates__traslado input {
        width: 37.5%;
        margin-left: 7.5%;
    }
    .form__dates__traslado select {
        margin-right: 6.8%;
    }
    .search__form label {
        margin-top: 2.5vh;
        font-size: 1.2em;
    }
    .search__form select {
        margin-top: 2vh;
        margin-left: 8.5%;
    }
    .form__destino {
        display: flex;
        width: 100%;
        flex-direction: row;
    }

    .form__destino div {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-evenly;
    }
    .form__dates {
        display: flex;
        width: 100%;
    }
    .form__dates div {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-evenly;

    }

    .nav-mobile-button-outlined {
        display: none;
    }
    .nav-menu-section {
        display: none;
    }
    .nav-menu-section a {
        display: none;
    }
    .nav-menu-section i {
        display: none;
    }
    .form__excursiones div {
        display: flex;
        justify-content: space-around;
    }
    .form__excursiones input {
        width: 55%;
    }
    .search__button {
        width: 15%;
        border-radius: 5px;
        border-bottom: 2px solid var(--dt-whitetext);
        cursor: pointer;
    }
    .search__button:hover {
        background-color: var(--dt-decoration1);
    }
    .fa-search {
        color: var(--dt-whitetext);
    }


    /*FINANCIACIÓN*/
    
    .payment {
        display: flex;
        width: 100%;
        background-color:var(--dt-sectioncontainer2);
        border: 1px solid var(--dt-borders);
        padding: 15px;
    }
    .payment a {
        width: 20%;
    }

    .payment img {
        height: 30vh;
        width: 15vw;
        border-radius: 5px;
        object-fit: contain;
        background-color: var(--dt-background);
        margin: 10px;
        padding: 20px 0px;
    }

    .payment img:hover {
        transform: scale(1.03);
    }
    .payment a img {
        padding: 10px;
    }

    
.flexslider{
    padding: 30px 30px 0 30px;
}



/* CAPTION ==================*/
.caption{

    border: 5px solid var(--dt-backgroundwhite);
}

    /***************************************FOOTER*******************************************/

    footer {
        display: flex;
        width: 85%;
        justify-content: flex-end;
        background-color: var(--dt-sectioncontainer3);
        flex-wrap: wrap;
    }

    footer article {
        border-bottom: none;
    }

    /*NEWSLETTER*/

    .newsletter__container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        background-color: var(--dt-background);
        justify-content: center;
        padding: 0vh 0vw;
        border: none;
    }
    .newsletter__container h2 {
        text-align: center;
        text-transform: uppercase;
        background-color: var(--dt-background);
        padding: 2vh;
    }
    .newsletter__form {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 0vh;
        width: 65%;
    }
    .newsletter__input {
        text-align: center;
        padding: 1vh 2%;
  
        height: 6vh;
    }
    
    .newsletter__button {
        text-align: center;
        margin-left: 5%;
        font-size: 110%;
        cursor: pointer;
    }

    .newsletter__button:hover {
        background-color: var(--dt-decoration1);
    }

    /***********************************REDES SOCIALES*************************************/

    .social__icons {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        background-color: var(--dt-background);
    }
    .social__icons a {
        margin: 0% 3%;
    }
    .social__icons .fab {
        font-size: 1.5rem;
        color: var(--dt-decoration1);
        padding: 1vh 0px;

    }
    .fab:hover {
        color: var(--dt-decoration3);
    }
    .copyright {
        padding: 5vh 5%;
        width: 100%;
        text-align: end;
        border-top: 1px solid var(--dt-borders);
        border-left: 1px solid var(--dt-borders);
        border-right: 1px solid var(--dt-borders);
    }

    /**************************************************************************************/
    /************************************PRODUCTS******************************************/
    /**************************************************************************************/

    /**************************************MAIN********************************************/
    
    .product__detail {
        display: flex;
        margin: 0px;
        padding: 10px;
        flex-direction: column;
        flex-wrap: nowrap;
        }
    
    .product__article {
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 0px;
        width: 100%;
        justify-content: space-around;
        border: 1px solid var(--dt-borders);
        align-items: flex-start;
        border-radius: 10px;
    }
    .product__detail h2 {
        color: var(--dt-blacktext);
    }
    .product__article h3 {
        margin: 5px;
        color: var(--dt-blacktext);
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 1px solid var(--dt-borders);
    }
    .product__article p {
        text-align: center;
        margin: 5px;
        color: var(--dt-blacktext);
        width: 100%;
    }

    .product__desc {
        display: flex;
        width: 66%;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 100%;
    }
    
    .productimg__div {
        width: 30%;
    }
    .productimg__div img {
        width: 100%;
        border: 1px solid var(--dt-borders);
    }
    .article__price {
        display: flex;
        justify-content: space-between;
        border-top: 2px solid var(--dt-borders);
        width: 100%;
    }
    .createProduct__button {
        width: 35%;
        border-bottom: 2px solid var(--dt-blacktext);
        cursor: pointer;
        margin-top: 2vh;
    }
    .product__article button {
        width: 100%;
        border-bottom: 2px solid var(--dt-blacktext);
        cursor: pointer;
        margin-top: 2vh;
    }
    .product__article button:hover {
        background-color: var(--dt-decoration1);
        color: var(--dt-whitetext);
    }
    .createProduct__button:hover {
        background-color: var(--dt-decoration1);
        color: var(--dt-whitetext);
    }
    .product__detail {
        background-color: var(--dt-sectioncontainer1);
    }
    .productdetail__section {
        margin: 0px;
        padding: 10px;
        background-color: var(--dt-background);
        flex-wrap: wrap;
        text-align: end;
    }

    .productdetail__section h2 {
        color: var(--dt-blacktext);
    }
    .product__article {
        background-color: var(--dt-background);
    }

    .list__services {
        display: flex;
        width: 100%;
        text-decoration: none;
        list-style-type: none;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 0;
    }
    .list__services li {
        text-decoration: none;
        text-transform: uppercase;
        padding: 3vh 5%;
        background-color: var(--dt-sectioncontainer1);
        display: flex;
    }

    .list__services li a {
        display: flex;
        text-decoration: none;
        color: var(--dt-whitetext);
    }
    
    .list__services li:hover {
        transform: scale(1.05);
    }
    
    /**************************************************************************************/
    /*********************************PRODUCT DETAIL***************************************/
    /**************************************************************************************/
    
    .productdetail__article {
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--dt-borders);
    border-radius: 0px;
    margin: 0;
}

    .productdetail__section {
        background-color: var(--dt-sectioncontainer1);
    }
    
    .productdetail__article {
        background-color: var(--dt-background);
        margin: 10px;
        border-radius: 10px;
        border: 1px solid var(--dt-borders);
    }
    .detail__img img {
        margin-right: 10%;
        border: 1px solid var(--dt-borders);
    }

    .productdetail__section {
        padding: 0 0 2vh 0;
    }
    .productdetail__section a:hover {
        text-decoration: underline;
    }
    .productdetail__section a {
        text-decoration: none;
        color: var(--dt-whitetext);
        display: block;
    }

    .productdetail__desc {
        margin-left: 4%;
        width: 100%;
        font-size: 14px;
    }
    
    .productdetail__desc button {
        margin: 1vh 0;
        width: 50%;
    }
    
    .productdetail__desc button:hover {
        background-color: var(--dt-decoration1);
        color: var(--dt-whitetext);
    }

    .product__article:hover {
        transform: scale(1.005);
    }

    /**************************************************************************************/
    /******************************FORMULARIO DE REGISTRO**********************************/
    /**************************************************************************************/
    
    /****************************************MAIN******************************************/
    
    .login__main {
        display: flex;
        flex-direction: column;
        width: 28%;
        border: 1px solid var(--dt-borders);
        border-radius: 15px;
        padding: 0px 2%;
        margin: 3vh 0;
        background-color: var(--dt-white);
    }
    
    .register__main {
        display: flex;
        flex-direction: column;
        width: 50%;
        border: 1px solid var(--dt-borders);
        border-radius: 15px;
        padding: 0px 2%;
        margin: 3vh 0;
        background-color: var(--dt-white);
    }
    
    
    /**************************************************************************************/
    /***********************************CARRITO DE COMPRAS*********************************/
    /**************************************************************************************/
    
    /****************************************MAIN******************************************/
    
    .productcart__main {
        width: 85%;
    }
    
    .product__cart {
        margin: 0px;
    }
    
    .cart__desc h3 {
        font-size: 1.1em;
        color: var(--dt-blacktext)
    }
    .cart__desc h4 {
        font-size: 1em;
        margin-top: 4.5vh;
    }
    
    .cart__desc p {
        font-size: 14px;
        color: var(--dt-blacktext);
    }
    
    .fa-user {
        color: var(--dt-blacktext);
    }
    .cart__buynow {
        background-color: var(--dt-sectioncontainer2);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 2vh;
    }
    
    .cart__buynow h3 {
        background-color: white;
        padding: 5px;
        border-radius: 3px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    .cart__semitotal{
        padding-bottom: 0vh;
    }
    
    .cart__semitotal a{
        width: auto;
    }
    
    .cart__semitotal h4 {
        margin: 1vh 0;
    }
    
    .product__desc h4 {
        margin: 1vh 0;
    }
    /**************************************************************************************/
    /************************************PAGINA DE ERROR***********************************/
    /**************************************************************************************/
    
    /****************************************MAIN******************************************/
    
    .error__page a:hover {
        border-bottom: 1px solid #347fc4;
    }
}
