<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Travels | Error 404</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/dark-mode.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/45c142d7bc.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>
    <div class="container">
        <%- include('partials/header__min') %>
        <main>
            <div class="error__page">
                <img class="search-error" src="/img/search-error.svg" alt="not found">
                <h4 class="user-form-title">Parece que esta página no existe</h4>
                <p><%= error %></p>
                <a href="/">Volver a Inicio</a>
            </div>
        </main>
        <%- include('partials/footer__min2') %>
    </div>
</body>

</html>