<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
    <div class="container">
        <%- include('partials/header') %>
        <main>
            <%- include('partials/search__bar') %>
                <h2 class="section__title">Promociones</h2>
                <div class="flexslider">
                    <ul class="slides">
            
                        <li>
                            <a href="/paquetes">
                                <img src="img/promo1.png" alt="">
                                <section class="caption">
                                </section>
                            </a>
                        </li>
                        <li>
                            <a href="/paquetes">
                                <img src="img/promo2.png" alt="">
                                <section class="caption">
                                </section>
                            </a>
                        </li>
                        <li>
                            <a href="/paquetes">
                                <img src="img/promo3.png" alt="">
                                <section class="caption">
                                </section>
                            </a>
                        </li>
                        <li>
                            <a href="/paquetes">
                                <img src="img/promo4.png" alt="">
                                <section class="caption">
                                </section>
                            </a>
                        </li>
            
                    </ul>
                </div>
            <h2 class="section__title">Financiación</h2>
            <section class="payment">
                <a href="/financiacion"><img src="img/mercadopago_logo.png" alt="mercado pago"></a>
                <a href="/financiacion"><img src="img/visa_logo.png" alt="visa"></a>
                <a href="/financiacion"><img src="img/americanexpress_logo.png" alt="american express"></a>
                <a href="/financiacion"><img src="img/ahora12_logo.png" alt="ahora 12"></a>
            </section>
        </main>
        <%- include('partials/footer') %>
    </div>
</body>

</html>