<footer>
    <article class="newsletter__container">
        <h2 class="section__title">Suscribete a nuestro newsletter</h2>
        <form class="newsletter__form" action="" method="FORM">
            <input class="newsletter__input" type="email" name="destino" placeholder="Ingresá tu email">
            <button class="newsletter__button" type="submit">Enviar</button>
        </form>
    </article>
    <article class="social__icons">
        <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
    </article>
    <div class="copyright">
        <h4><a href="/terms">Términos y condiciones</a></h4>
        <p>©2020 Digital Travels S.A.</p>
        <p>Calle Falsa 123, Springfield</p>
    </div>
</footer>