<footer>
    <div class="copyright">
        <h4><a href="/terms">Términos y condiciones</a></h4>
        <p>©2020 Digital Travels S.A.</p>
        <p>Calle Falsa 123, Springfield</p>
    </div>
</footer>