<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/dark-mode.css">
    <script src="https://kit.fontawesome.com/68b3cfeb34.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>Digital Travels | <%= title %></title>
</head>