<header>
    <nav class="navbar">
        <a class="header__logo" href="/">
            <img src="/img/logo-dtva.svg" alt="logo" class="navicon">
            <img src="/img/digital-travels.svg" alt="digital travels" id="logo-title">
        </a>
        <div class="menuicon">
            <form id="darkmode__form">
                <input id="dark-mode" class="toggle" type="checkbox" name="Dark mode" role="switch" value="on"
                    onclick="document.documentElement.classList.toggle('dark-mode')">
                <label for="dark-mode" class="sr">Dark Mode</label>
                <div class="curtain"></div>
            </form>
        </div>
        <div class="cta__items">
            <a href="/users/logout">Salir</a> 
            <form id="darkmode__form">
                <input id="dark-mode" class="toggle" type="checkbox" name="Dark mode" role="switch" value="on"
                    onclick="document.documentElement.classList.toggle('dark-mode')">
                <label for="dark-mode" class="sr">Dark Mode</label>
                <div class="curtain"></div>
            </form>
        </div>
        
    </nav>
</header>