<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <div class="container">
        <%- include('../partials/header__min') %>
        <main class="productcart__main">
            <h2 class="section__title">Resumen de mis viajes</h2>
            <section class="product__cart">

            </section>
            <h3>Total $ XXXXX</h3>
            <button class="search__button">comprar ahora</button>
        </main>
        <%- include('../partials/footer__min') %>
    </div>
    <script src="/javascripts/shoppingcart.js" defer"></script>
</body>


</html>